<div>
    <h1>
        {{pageHeader ? pageHeader : 'No Header'}}
    </h1>
    <!--<h2>Image Path binding using string interpolation</h2>-->
    <img src="{{imgPath}}" />
    <div>
        Welcome {{getFullName()}}!
    </div>
    <img [src]="imgPath">
    <p></p>
    <my-employee></my-employee>
    <button bind-disabled="isDisabled">Click Me!</button>
    <button [ngStyle]="addStyles()" on-click="buttonClicked()">Click Button</button>
    <br /><br />
    <my-secondEmployee></my-secondEmployee>
    <br /><br />
    <h2>Two Way Binding using a combination of Property and Event Binding</h2>
    Fullname : <input type="text" [value]="fullName" (input)="fullName=$event.target.value">
    <br />
    You Entered : {{fullName}}
    <br /><br />
    <h2>Two way Binding using ngModel</h2>
    Second FullName : <input type="text" [(ngModel)]="secondFullName">
    <br />
    You Entered : {{secondFullName}}
    <br /><br />
    <h2>ngFor</h2>
    <list-employee></list-employee>
</div>
